@model PC.medicalPrescription

@{
    ViewBag.Title = "MedicalPrescriptionDetails";
}

<h2>Medical Prescription Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Free)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Free)
        </dd>

    </dl>
</div>
<p>
    @if (!User.IsInRole("Patient"))
    {
        @Html.ActionLink("Edit", "MedicalPrescriptionEdit", new { id = Model.idmedicalPrescription })
    }
    @Html.ActionLink("Go to the appointments list", "AppointmentIndex", "Appointment")
</p>
