@model PC.medicalRecord

@{
    ViewBag.Title = "MedicalRecordDetails";
}

<h2>Medical Record Details</h2>

<div>
    <h4>medicalRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vaccinations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vaccinations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.previousDiseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.previousDiseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "MedicalRecordEdit", new { id = Model.idmedicalRecords }) |
    @Html.ActionLink("Back to your Medical Record List", "MedicalRecordIndex")
</p>
