@model IEnumerable<PC.medicalRecord>

@{
    ViewBag.Title = "MedicalRecordIndex";
}


@if (User.IsInRole("Patient"))
{
    <h2>My Medical Record</h2>
}
else
{
    <h2> Medical Record List</h2>
}
<br />
@if (!User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Create a new Medical Record", "MedicalRecordCreate")
    </p>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["Success"].ToString()
    </div>
    TempData["Success"] = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diseases)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (User.IsInRole("Patient"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diseases)
                </td>
                <td>
                    @Html.ActionLink("Details", "MedicalRecordDetails", new { id = item.idmedicalRecords }) |
                </td>
            </tr>
        }
    }

</table>
