@model PC.medicalRecord

@{
    ViewBag.Title = "MedicalRecordDetails";
}

<h2>Medical Record Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vaccinations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vaccinations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.previousDiseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.previousDiseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Medic") || User.IsInRole("Assistant"))
{
    <p>
        @Html.ActionLink("Edit", "MedicalRecordEdit", new { id = Model.idmedicalRecords }) |
        @Html.ActionLink("Back to the patients list", "PatientIndex", "Patient")
    </p>
}
@if (User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Back to my profile", "PatientIndex", "Patient")
    </p>
}