@model IEnumerable<PC.Appointment>

@{
    ViewBag.Title = "AppointmentIndex";
}

<h3>Your Appointments' List</h3>
<h3>
    Date: @DateTime.Now.ToShortDateString()
</h3>
@if (User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Book an appointment", "AppointmentCreate")
    </p>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["Success"].ToString()
    </div>
    TempData["Success"] = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayName("Medical prescription")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var name = item.Patient.firstName + " " + item.Patient.lastName;
        if (name == User.Identity.Name)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    @Html.ActionLink("See medical prescription", "MedicalPrescriptionDetails", "MedicalPrescription", new { id = item.idmedicalPrescription }, null) |
                    @Html.ActionLink("Download PDF", "ConvertMedicalPrescription", "ArchiveDate", new { idmedicalPrescription = item.idmedicalPrescription }, null)
                </td>

                <td>
                    @if (User.IsInRole("Assistant"))
                    {
                        @Html.ActionLink("Edit", "AppointmentEdit", new { id = item.idAppointment })
                    }|
                    @Html.ActionLink("Details", "AppointmentDetails", new { id = item.idAppointment }) |
                    @Html.ActionLink("Delete", "AppointmentDelete", new { id = item.idAppointment })
                </td>
            </tr>
        }
        else
        {
            if (User.IsInRole("Medic"))
            {
                if (DateTime.Now.ToShortDateString().Equals(item.Date.ToString().Split(' ')[0]))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.firstName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.lastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>

                        <td>
                            @Html.ActionLink("See medical prescription", "MedicalPrescriptionDetails", "MedicalPrescription", new { id = item.idmedicalPrescription }, null) |
                            @Html.ActionLink("Download PDF", "ConvertMedicalPrescription", "ArchiveDate", new { idmedicalPrescription = item.idmedicalPrescription }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "AppointmentDetails", new { id = item.idAppointment })
                        </td>
                    </tr>
                }
            }
        }
    }

</table>
