@model PC.Appointment

@{
    ViewBag.Title = "AppointmentEdit";
}

<h2>Make a change to your appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idAppointment)
        @Html.HiddenFor(model => model.idMedic)
        @Html.HiddenFor(model => model.cardNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, "Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Time", new List<SelectListItem>
               {
                new SelectListItem { Text = "9:00", Value = "9:00"},
                new SelectListItem { Text = "9:30", Value = "9:30"},
                new SelectListItem { Text = "10:00", Value = "10:00"},
                new SelectListItem { Text = "10:30", Value = "10:30"},
                new SelectListItem { Text = "11:00", Value = "11:00"},
                new SelectListItem { Text = "11:30", Value = "11:30"},
                new SelectListItem { Text = "12:00", Value = "12:00"},
                new SelectListItem { Text = "12:30", Value = "12:30"},
                new SelectListItem { Text = "13:00", Value = "13:00"},
                new SelectListItem { Text = "13:30", Value = "13:30"},
                new SelectListItem { Text = "14:00", Value = "14:00"},
                new SelectListItem { Text = "14:30", Value = "14:30"},
                new SelectListItem { Text = "15:00", Value = "15:00"},
                new SelectListItem { Text = "15:30", Value = "15:30"},
                new SelectListItem { Text = "16:00", Value = "16:00"},
                new SelectListItem { Text = "16:30", Value = "16:30"}
               }, "Select the time of your appointment")
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to your Appointments' List", "AppointmentIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
