@model IEnumerable<PC.Assistant>

@{
    ViewBag.Title = "IndexAssistant";
}

<h2>Assistants' List</h2>

<p>
    @Html.ActionLink("Create New", "CreateAssistant")
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["Success"].ToString()
    </div>
    TempData["Success"] = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAssistant", new { id=item.idAssistant }) |
            @Html.ActionLink("Details", "DetailsAssistant", new { id=item.idAssistant }) |
            @Html.ActionLink("Delete", "DeleteAssistant", new { id=item.idAssistant })
        </td>
    </tr>
}

</table>
