@model IEnumerable<PC.Patient>
@{
    ViewBag.Title = "PatientIndex";
}



@if (!User.IsInRole("Patient"))
{

    <h2>Patients List</h2>
    <p>
        @Html.ActionLink("Create New", "PatientCreate")
    </p>
}

@if (User.IsInRole("Patient"))
{
    <h2>My Details</h2>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @TempData["Success"].ToString()
    </div>
    TempData["Success"] = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardNumber)
        </th>
        <th>
            @Html.DisplayName("")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var name = item.firstName + " " + item.lastName;
        if (name == User.Identity.Name)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cardNumber)
                </td>
                @if (!User.IsInRole("Patient"))
                {
                    <td>
                        @Html.ActionLink("Edit", "PatientEdit", new { id = item.cardNumber }) |
                        @Html.ActionLink("Details", "PatientDetails", new { id = item.cardNumber }) |
                        @Html.ActionLink("Delete", "PatientDelete", new { id = item.cardNumber }) |
                    </td>
                }
                <td>
                    @Html.ActionLink("See medical record", "MedicalRecordDetails", "MedicalRecord", new { id = item.idmedicalRecords }, null)
                </td>

            </tr>
        }
        else
        {
            if (User.IsInRole("Assistant") || User.IsInRole("Medic"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cardNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "PatientEdit", new { id = item.cardNumber }) |
                        @Html.ActionLink("Details", "PatientDetails", new { id = item.cardNumber }) |
                        @Html.ActionLink("Delete", "PatientDelete", new { id = item.cardNumber })
                    </td>
                    <td>
                        @Html.ActionLink("See medical record", "MedicalRecordDetails", "MedicalRecord", new { id = item.idmedicalRecords }, null)
                    </td>
                </tr>

            }
        }
    }
</table>

<p>
    @Html.ActionLink("Go back to home", "Index", "Home")
</p>
