@{
    ViewBag.Title = "HomePage";
}

<div class="jumbotron text-center">
    <h1>Medical Centre - B6C2</h1>
    <p class="lead"> This is the description of this medical centre!</p>
</div>
@if (TempData["SuccessRegistration"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessRegistration"].ToString() @User.Identity.Name
    </div>
    TempData["SuccessRegistration"] = null;
}
<div class="container">
    <div class="row">
        @if (!User.Identity.IsAuthenticated || User.IsInRole("Patient"))
        {
            <div class="col-sm-4">
                <h6>New pacient? Register here</h6>
                <button type="button" class="btn btn-primary" onclick="location.href= '@Url.Action("Register", "Account")'">Register</button>
            </div>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-sm-4">
                <h6>Login as medic or assistant</h6>
                <button type="button" class="btn btn-primary" onclick="location.href= '@Url.Action("Login", "Account")'">Login</button>
            </div>
            <div class="col-sm-4">
                <h6>Login as a patient</h6>
                <button type="button" class="btn btn-primary" onclick="location.href= '@Url.Action("LoginPatient", "Account")'">Login as patient</button>
            </div>
        }
    </div>
</div>